body {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);

    margin: 0;
    padding: 0;
    display: flex;
    // align-items: center;
    justify-content: center;
    height: 100vh;
}

.controls {
    padding-top: 25%;
    text-align: center;
}

.control {
    display: block;
    width: 250px;
    height: 40px;
    padding: 10px;
    margin: 10px 0;
    // background-color: blue;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    border-radius: 5px;
}

.select, .button {
    width: 270px;
}

.input {
    height: 20px;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0; 
}

// *:focus {
//     outline: none; /* Убираем обводку */
//     border: none; /* Убираем границу */
//     box-shadow: none; /* Убираем тень */
// }

