body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.controls {
  text-align: center;
}

.control {
  display: block;
  width: 200px;
  padding: 10px;
  margin: 10px 0;
  background-color: blue;
  border: none;
  border-radius: 5px;
}

.select, .button {
  width: 220px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}